@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif; }

ul {
  list-style: none; }

.container {
  max-width: 144rem;
  margin: 0 auto; }

.flex {
  display: flex; }

.jc-sb {
  justify-content: space-between; }

.jc-se {
  justify-content: space-evenly; }

.as-c {
  align-self: center; }

.flex-column {
  display: flex;
  flex-direction: column; }

.header {
  background-color: #D9D9D9;
  height: 4.5rem;
  padding: 1rem 0; }

.company-name {
  font-size: 2.2rem;
  padding-left: 0.4rem; }

.company-location {
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: -1px;
  font-weight: 600; }

.language {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 1rem; }

.lan-link {
  color: #595959;
  font-size: 1.4rem;
  text-align: center; }

.active {
  text-decoration: none;
  color: #888787 !important; }

.nav-link {
  width: 100%;
  text-align: center;
  border-left: 1px solid #88878766;
  padding: 1rem 0;
  gap: 0.3rem; }
  .nav-link:last-child {
    border-right: 1px solid #88878766; }

.nav-link-line {
  border-right: 1px solid #88878766; }

.nav-location {
  font-size: 1.6rem;
  text-decoration: none;
  color: #000; }

.nav-link-text {
  font-size: 1.2rem;
  color: #474747; }

.about-us {
  padding: 6rem 0;
  background-color: #F4F4F4;
  justify-content: start;
  gap: 5%; }

.about-us-img {
  width: 100%; }

.about-elements {
  width: 40%; }

.about-main-heading {
  font-weight: 700;
  font-size: 4.2rem;
  padding: 4rem 0; }
  .about-main-heading::after {
    content: "";
    display: block;
    width: 14rem;
    height: 5px;
    background-color: #BF0F0F;
    margin-top: 1rem; }

.about-heading {
  font-size: 2.8rem;
  font-weight: 400;
  padding-bottom: 3rem; }

.about-text {
  font-size: 1.4rem;
  line-height: 2.4rem;
  padding-bottom: 9rem; }

.about-line {
  height: 3px;
  background-color: rgba(196, 196, 196, 0.4);
  border: 0px;
  margin-bottom: 3rem; }

.btn-about-us {
  text-decoration: none;
  border-radius: 4px;
  font-size: 1.6rem;
  padding: 1.6rem;
  color: #fff;
  background-color: #BF0F0F; }

.show-photo {
  position: relative; }

.show-photo-heading {
  font-size: 3.6rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.4rem;
  position: absolute;
  left: 35%;
  top: 50%; }
  .show-photo-heading::after {
    margin: 1rem auto 0rem;
    content: "";
    display: block;
    width: 14rem;
    height: 5px;
    background-color: #BF0F0F;
    margin-top: 1rem; }

.parallax {
  background-image: url("../img/truck3.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.section-cards {
  padding: 10rem; }

.card-img {
  width: 100%;
  height: 28rem; }

.card-heading {
  font-size: 2.4rem;
  font-weight: 400;
  margin: 1.5rem 0; }

.card-line {
  width: 15%;
  height: 2px;
  background-color: #BF0F0F; }

.section-numbers {
  margin: 5rem 0 0; }

.section-numbers-text {
  text-align: center; }

.section-numbers-heading {
  color: #303030;
  font-size: 4.2rem;
  font-weight: 700;
  margin: 2rem 0; }

.section-numbers-sec-heading {
  color: #474747;
  font-size: 2.8rem;
  font-weight: 400;
  padding-bottom: 2rem; }

.section-numbers-span::after {
  margin: 0 auto;
  content: "";
  display: block;
  width: 14rem;
  height: 5px;
  background-color: #BF0F0F;
  margin-top: 1rem; }

.display-numbers {
  margin: 5rem 0 0;
  width: 100%;
  height: 34rem;
  background-image: url("../img/bg-numbers.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.numbers-list {
  display: flex;
  padding: 85px 0; }

.number {
  text-align: center; }

.number-heading {
  color: #fff;
  font-size: 4.4rem;
  font-weight: 900; }

.number-text {
  color: #fff;
  font-size: 2.4rem; }

.number-line {
  padding-top: 17rem;
  border-right: 1px solid #FFFFFF33; }

.section-products {
  text-align: center;
  background-color: #F4F4F4;
  padding: 8rem 0;
  position: relative; }

.section-products-heading {
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 4rem; }
  .section-products-heading::after {
    content: "";
    display: block;
    background-color: #C4C4C466;
    height: 3px;
    width: 40%;
    border: none;
    margin: 0 auto;
    margin-top: 5rem; }

.section-products-line {
  background-color: #C4C4C466;
  font-weight: 400; }

.section-products-text {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 5% 32%; }

.product-name {
  font-size: 2.4rem;
  font-weight: 400; }

.section-products-line {
  color: #C4C4C466;
  height: 3px;
  width: 40%;
  border: none;
  margin: 0 auto; }

.product {
  position: relative; }

.product-position {
  position: absolute;
  bottom: 10%;
  left: 20%; }

.product3,
.product5 {
  bottom: 12%; }

.product-img {
  width: 23rem;
  height: 32rem; }

.product-name {
  text-align: left; }

.product-line {
  margin-top: 1rem;
  background-color: #BF0F0F;
  height: 3px;
  width: 30%;
  border: none; }

.logo-mark {
  position: absolute;
  bottom: -5%;
  left: 2%; }

.section-brends {
  padding: 10rem; }

.section-brends-heading {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 400;
  color: #474747; }
  .section-brends-heading::after {
    content: "";
    display: block;
    background-color: #C4C4C466;
    height: 3px;
    width: 40%;
    border: none;
    margin: 0 auto;
    margin-top: 5rem; }

.brends {
  padding-top: 4rem; }

.brend {
  text-align: center; }

.brend-name {
  font-size: 18px;
  font-weight: 400;
  padding-top: 2rem; }

.btn-div {
  text-align: center;
  margin: 100px 0 20px 0; }

.btn-brends {
  text-decoration: none;
  border-radius: 4px;
  padding: 1.6rem;
  color: #fff;
  background-color: #BF0F0F;
  font-size: 1.6rem;
  font-weight: 500; }

.footer {
  width: 100%;
  height: 34rem;
  background-image: url(../img/footer-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.contact-us {
  text-align: left;
  color: #fff; }

.footer-line {
  border-right: 1px solid #FFFFFF33; }

.contact-heading {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 2.4rem; }

.contact {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 25px;
  text-decoration: underline; }
  .contact:first-child {
    text-decoration: none; }
  .contact img {
    margin-right: 1.6rem; }

.web-links {
  text-align: left; }

.web-link {
  margin-bottom: 1rem; }
  .web-link a {
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none; }

.follow-us-text {
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 2rem; }

.social-media a {
  color: #fff; }

.facebook::after {
  content: url("../img/Frame (4).png"); }

.twitter::after {
  content: url("../img/Frame (5).png"); }

.youtube::after {
  content: url("../img/Frame (6).png"); }

.messanger::after {
  content: url("../img/Frame (7).png"); }

.footer-text {
  font-size: 1.4rem;
  font-weight: 400;
  color: #FFFFFF4D;
  background-color: #00000054; }

.footer-p {
  font-size: 1.4rem;
  padding: 1rem 0; }

.footer-link {
  color: #FFFFFF80;
  font-size: 1.4rem; }
  .footer-link:nth-child(2) {
    margin-left: 8rem; }

.footer-container {
  padding: 55px 0 45px 0; }

.burger-menu {
  display: none;
  cursor: pointer; }

.bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 4px 0; }

.menu-lan-2 {
  display: none; }

.hidden {
  display: none; }

.arrow {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px !important;
  height: 50px !important;
  z-index: 2; }

.slider-image {
  width: 100%;
  height: 705px; }

@media (max-width: 1500px) {
  .container {
    max-width: 130rem; } }

@media (max-width: 1400px) {
  .container {
    max-width: 120rem; }
  .about-us-img {
    width: 60rem; }
  .about-us {
    gap: 3%; }
  .card-img {
    width: 92%;
    height: 25rem; }
  .section-products-text {
    padding: 5% 25%; } }

@media (max-width: 1280px) {
  .container {
    max-width: 100rem; }
  .section-cards {
    padding: 10rem 5rem; }
  .cards-parent {
    flex-direction: column; }
  .card {
    text-align: center;
    margin-top: 5rem; }
  .card-line {
    width: 15%;
    margin: 0px 10% 0 43%; }
  .card-img {
    width: 60%;
    height: 60%; }
  .about-text {
    padding-bottom: 5rem; } }

@media (max-width: 1084px) {
  .container {
    max-width: 80rem; }
  .about-us {
    gap: 2%; }
  .about-us-img {
    width: 50rem; }
  .about-main-heading {
    padding-top: 0; }
  .card-heading {
    font-size: 2rem; }
  .burger-menu {
    display: block; }
  .menu-lan {
    display: none; }
  .menu-lan-2 {
    display: block; }
  .lan-link {
    margin-right: 1.6rem; }
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #D9D9D9;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%; }
  .nav-links.active {
    display: flex; }
  .brends {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem; }
  .footer {
    height: 100%; }
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 3rem; }
  .web-links {
    padding-right: 2rem; }
  .footer-text-container {
    flex-direction: column;
    align-items: center; } }

@media (max-width: 1000px) {
  .display-numbers {
    background-image: url("../img/bg-numbers-mobile.png");
    height: 100%; }
  .number-line {
    width: 50%;
    margin: 0 auto;
    padding: 5rem;
    border-right: 0px;
    border-bottom: 1px solid #FFFFFF33; }
  .numbers-list {
    flex-direction: column; }
  .number {
    margin-top: 5rem; }
  .about-main-heading {
    padding-top: 2rem; }
  .show-photo-heading {
    left: 25%; } }

@media (max-width: 840px) {
  .container {
    max-width: 70rem; }
  .about-us {
    flex-wrap: wrap;
    justify-content: center; }
  .about-us-img {
    width: 90%; }
  .about-elements {
    width: 80%; }
  .about-img-div {
    text-align: center; }
  .slider-image {
    height: 600px; }
  .arrow {
    bottom: 25%; } }

@media (max-width: 700px) {
  .product-position {
    left: 40%; }
  .section-products-text {
    padding: 5% 10%; }
  .show-photo-heading {
    left: 15%; } }

@media (max-width: 650px) {
  .show-photo-heading {
    left: 10%; }
  .slider-image {
    height: 500px; }
  .arrow {
    bottom: 35%; } }

@media (max-width: 580px) {
  .show-photo-heading {
    left: 5%; } }

@media (max-width: 550px) {
  .show-photo-heading {
    text-align: center; } }

@media (max-width: 500px) {
  .section-brends {
    padding: 4rem; }
  .footer-p:first-child {
    padding: 1rem 2rem; }
  .card-img {
    width: 80%; }
  .product-position {
    left: 35%; }
  .about-us {
    padding: 3rem 0; }
  .show-photo-heading {
    font-size: 3.2rem; }
  .slider-image {
    height: 400px; }
  .arrow {
    bottom: 45%; } }

@media (max-width: 350px) {
  .section-brends {
    padding: 2rem; }
  .section-cards {
    padding: 5rem 5rem; } }
